<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link type="image/x-icon" rel="icon" href="public/favicon.ico">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="public/store.js" defer></script>
    <script src="public/js/navigation.js" defer></script>
  </head>
  <body>

<div class="navigation-bar navigation-admin">
  <div class="navbar-toggle-container">
    <div class="closeNav">&times;</div>
    <div class="toggleNav">
      <img class="bars-icon" src="public/icons/bars.png">
    </div>
  </div>
  <div class="user-section flex-center">
    <span style="color:#f2f2f2;font-size:0.8rem;padding:10px 15px">Loading</span>
  </div>
  <a class="navbar-item" href="/">Back to store</a>
  <a class="navbar-item" href="/orders">Orders</a>
  <a class="navbar-item" href="/products">Products</a>
  <a class="navbar-item" href="/users">Users</a>
</div>

  <div class='container'>
    <h1>Employee dashboard</h1>
    <div class='admin-dashboard-wrapper'>
        <a href="/orders" class='admin-dashboard-item'>
            <img src="public/icons/dash-orders.png">
            <div class="item-right">
              <span><b>Orders</b></span>
              <span>View, manage orders</span>
            </div>
          </a>

        <a href="/products" class='admin-dashboard-item'>
          <img src="public/icons/dash-products.png">
          <div class="item-right">
            <span><b>Products</b></span>
            <span>Create, edit and delete products</span>
          </div>
        </a>

        <a href="/users" class="admin-dashboard-item">
          <img src="public/icons/dash-employees.png">
          <div class="item-right">
            <span><b>Users</b></span>
            <span>Add new users and delete them</span>
          </div>
        </a>
    </div>
  </div>