<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link type="image/x-icon" rel="icon" href="public/favicon.ico">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="public/store.js" defer></script>
    <script src="public/js/navigation.js" defer></script>
    <script src="public/js/products.js" defer></script>
  </head>
  <body>

<div class="navigation-bar navigation-admin">
  <div class="navbar-toggle-container">
    <div class="closeNav">&times;</div>
    <div class="toggleNav">
      <img class="bars-icon" src="public/icons/bars.png">
    </div>
  </div>
  <div class="user-section"></div>
  <a class="navbar-item" href="/">Back to store</a>
  <a class="navbar-item" href="/orders">Orders</a>
  <a class="navbar-item" href="/users">Users</a>
  <a class="navbar-item" href="/products">Products</a>
</div>

<div class='add-new-product'>Add new</div>
<div class="err-container"></div>

<div class="confirm-modal-container"></div>

<div class="products-modal">
  <div class="modal-black"></div>
  <div class="close-product-modal">X</div>
  <form id='product-add-form' class='product-form'>
      <div class="form-header">Add Product</div>
      <div class="form-line">
        Product ID:<span id="productId"></span><br>
      </div>
      <div class="form-line">
        Product title: <input type="text" id="productTitle" placeholder="Wooden Duck">
      </div>
      <div class="form-line">
        Image URL: <input type="text" id="imageURL" placeholder="Enter URL of image">
      </div>
      <div class="form-line">
        Select a category:<select id="productEditCategory" class="product-edit-category"></select>
      </div>
      <div class="form-line">
        Description:<br>
        <textarea rows="5" cols="30" maxlength="121" id="productDescription" value="Bla bla"></textarea>
      </div>
      <div class="form-line">
        Price (in $): <input type="number" id="productPrice" placeholder="1.00" step="0.01">
      </div>
      <div id="btn-product" class="btn-blue">Save</div>
      <div class="form-line">
        <div class="product-form-error"></div>
      </div>
  </form>
</div>

  <div class='container'>
    <h1>Products</h1>
    <table id='products-table'>  
    <tr>
        <th>ID</th>
        <th>Picture</th>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
        <th>Last changes</th>
    </tr>
    </table>
  </div>
