<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link type="image/x-icon" rel="icon" href="public/favicon.ico">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <script src="public/store.js" defer></script>
    <script src="public/js/navigation.js" defer></script>
    <script src="public/js/users.js" defer></script>
  </head>
  <body>

<div class="navigation-bar navigation-admin">
    <div class="navbar-toggle-container">
      <div class="closeNav">&times;</div>
      <div class="toggleNav">
        <img class="bars-icon" src="public/icons/bars.png">
      </div>
    </div>
    <div class="user-section flex-center">
      <span style="color:#f2f2f2;font-size:0.8rem;padding:10px 15px">Loading</span>
    </div>
    <a href="/">Back to store</a>
    <a href="/orders">Orders</a>
    <a href="/users">Users</a>
    <a href="/products">Products</a>
  </div>
  
<div class='add-new-user'>Create</div>
<div class="err-container"></div>

<div class="confirm-modal-container"></div>

<div class="users-modal">
  <div class="modal-black"></div>
  <div class="close-users-modal">X</div>
  <form id='user-add-form' class='product-form'>
      <div class="form-header">Add new user</div>
      <div class="form-line">User ID:<span id="userId"></span></div>
      <div class="form-line">Username: <input type="text" id="username" value="" maxlength="12"></div>
      <div class="form-line">First name: <input type="text" id="firstName" value=""></div>
      <div class="form-line">Last name: <input type="text" id="lastName" value=""></div>
      <div id="createPassword">
        <div class="form-line">Enter your password: <input type="password" id="password" value=""></div>
        <div class="form-line">Repeat your password: <input type="password" id="repeatedPassword" value=""></div> 
      </div>
      <div id="editPassword">
        <div class="form-line">Enter old password: <input type="password" id="oldPassword"></div>
        <div class="form-line">Enter new password: <input type="password" id="newPassword"></div> 
      </div>
      
      <div id="btn-user" class="btn-blue">Save</div>
      <div class="form-line">
      <div class="user-form-error"></div>
      </div>
  </form>
</div>

    <div class='container'>
      <h1>Users</h1>
      <table id='users-table'>
      <tr>
          <th>User ID</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Date added</th>
          <th>Actions</th>
      </tr>
      </table>
    </div>