/* spalvos 
balta FBFAF8
melsva B0C6B0
melsvesne 80A492
raudona C84741
ruda 8C715B
*/

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #B0C6B0;
  font-family: "Nunito", sans-serif;
}
.loading-screen {
  display: flex; /* Flex */
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  overflow: hidden;
  z-index: 150;
  width: 100vw;
  height: 100vh;
  background-color: rgba(251, 250, 248, 0.705);
}
.loading-section {
  width: 200px;
  height: 200px;
  position: relative;
}
.section-title {
  padding: 80px;
  font-size: 1.5em;
  margin-left: -20px;
  color: #80A492;
  animation: blend 2s infinite;
}
.line {
  width: 100%;
  height: 100%;
  border: 15px solid transparent;
  border-top: 15px solid #80A492;
  position: absolute;
  top: 0;
  border-radius: 50%;
  background-color: transparent;
}
.line-slow {
  animation: rotate 2s infinite ease-in-out;
}
.line-fast {
  animation: rotate 1s infinite ease-in-out;
}
@keyframes rotate {
  from { transform: rotate(0);}
  to { transform: rotate(360deg);}
}
@keyframes blend {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

.btn-blue {
  background-color: #80A492;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px 10px;
  border-radius: 4px;
  max-width: 110px;
  text-align: center;
  margin: 0 auto;

}
.btn-blue:hover {
  background-color: rgb(102, 131, 116);
}
.btn-blue:active {
  background-color: rgba(128, 164, 146, 0.692);
  transform: scale(0.95,0.95);
}
.btn-orange {
  background-color: #C84741;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  color: white;
  border: none;
}
.btn-orange:hover {
  background-color: rgb(155, 55, 50);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.btn-orange:active {
  background-color: rgb(138, 69, 48);
  transform: scale(0.95,0.95);
}
.btn-green {
  background-color: rgb(106, 172, 62);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  color: white;
  border: none;
}

.header {
  width: 100%;
  height: 250px;
  background-color:#C84741 ;
  position: relative;
  color: #FBFAF8;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  cursor: default;
}
.header_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.2;
}
/* Navigation bar */
.navigation-bar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top:-2px;
  left: 0;
  z-index: 99;
  padding: 0 20px;
}
.navigation-bar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition-duration: 0.3s;
  margin-left: 20px;
  font-size: 1.2em;
}
.navigation-bar a:hover {
  transform: scale(1.02, 1.02);
}
.toggleNav {
  display: none;
}
.closeNav {
  display: none;
}
.user-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-log-out {
  width: 20px;
  height: 20px;
  background-image: url('./icons/logout.png');
  background-size: 100% 100%;
  position: relative;
  transform: rotate(180deg);
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.5s;
}
.nav-log-out::after {
  position: absolute;
  right: 22px;
  top: 0;
  width: 75px;
  content: 'Log out';
  color: white;
  font-size: 0.9em;
  transform: rotate(180deg);
  height: 20px;
  opacity: 0;
  transition-duration: 0.3s;
}
.nav-log-out:hover {
  opacity: 1;
}
.nav-log-out:hover::after {
  opacity: 1;
}
a.username {
  display: block;
  font-size: 1.2em;
  position: relative;
  text-indent: 10px;
  text-align: center;
}
a.username::before {
  position: absolute;
  top: 12px;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('./icons/user.png');
  background-size: 100% 100%;
}
@media (max-width: 590px) {
  .navigation-bar {
    width: 100%;
    min-height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: -2px;
    left: 0;
    z-index: 100;
    padding: 0 20px;
  }
  .user-section {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 0.8em;
    text-transform: none;
  }
  .navigation-bar a {
    display: none;
    margin-left: 0;
  }
  .toggleNav {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.3;
    cursor: pointer;
  }
  .closeNav {
    display: none;
    width: 20px;
    height: 20px;
    color: #f2f2f2;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.3;
    text-align: center;
    margin-bottom: 10px;
    transform: translateY(5px);
  }
  .closeNav:hover {
    opacity: 1;
  }
  .toggleNav > .bar {
    background: #f2f2f2;
    width: 100%;
    height: 1.5px;
    border-radius: 5px;
  }
  .toggleNav:hover {
    opacity: 1;
  }
  .nav-log-out::after {
    width: 60px;
  }
  table {
    font-size: 0.7em;
  }
}
/* Floating cart icon */
.floating-cart {
  width: 110px;
  height: 35px;
  margin: 15px;
  color: white;
  text-align: center;
  padding: 8px;
  text-indent: 30px;
  font-size: 1em;
  background-color: #C84741;
  border-radius: 25px;
  position: relative;
  top: 10px;
  right: 0;
  cursor: pointer;
  z-index: 99;
  opacity: 0.7;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
@supports (position: sticky) {
  .floating-cart {
    -webkit-position: sticky;
    position: sticky;
    top: 50px;
  }
  .add-new-product {
    -webkit-position: sticky;
    position: sticky;
    top: 50px;
  }
}
.floating-cart:hover {
  opacity: 1;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.floating-cart::before {
  content: '';
  background-image: url('icons/cart.png');
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  width: 35px;
  height: 35px;
  background-color: rgb(131, 48, 44);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.floating-cart a {
  text-decoration: none;
  color: white;
}
.container {
  width: 100%;
  padding: 5px;
}
h1 {
  text-align: center;
  font-size: 2em;
  padding: 15px;
}

.pages-container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
}
.btn-pages {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #8C715B;
  color: white;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  font-size: 1em;
  margin: 2px;
}
.btn-pages:hover {
  background-color: rgb(104, 83, 67);
}
.pages-numbers {
  display: flex;
}
.pages-page-number {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1.5px solid #87806D;
  border-radius: 4px;
  padding: 2px;
  font-size: 1em;
  color: #87806D;
  background-color: white;
  margin: 2px;
  cursor: pointer;
}
.selected-page {
  box-shadow: 1px 1px 2px black;
  color: rgb(75, 71, 61);
  cursor: default;
}
.pages-page-number.selected-page:hover {
  background-color: white;
}
.pages-page-number:hover {
  background-color: rgb(219, 207, 174);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}


/* CATALOG OPTIONS */
.options-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.options-slot {
  width: 20%;
  max-width: 200px;
  height: 25px;
  position: relative;
  text-align: center;
  margin: 5px;
  font-size: 0.8em;
}
.options-btn {
  background-color: #C84741;
  color: white;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.options-btn:hover {
  border-radius: 3px 3px 0 0;
  background-color:rgb(156, 57, 52);
}
/* FILTERING */ 
.options-filter-items:hover  .filter-list {
  display: block;
}
.filter-list {
  display: none;
  background-color: white;
  color: black;
  position: absolute;
  top: 24px;
  z-index: 2;
  width: 100%;
  padding: 5px;
  margin: 1px 0 0 -5px;
  border-radius: 0 0 2px 2px;
  text-align: left;
  font-size: 0.9em;
  box-shadow: 1px 2px 7px;
}
.filter-list label {
  padding: 5px 0 5px 2px;
  margin-left: 2px;
  position: relative;
  cursor: pointer;
}
.filter-btn {
  width: 90%;
  max-width: 100px;
  min-height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  font-family:"Nunito";
  font-size: 1em;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}
.filter-list input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}
.filter-list label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 0.85em;
  height: 0.85em;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 0.9em;
  font-weight: bold;
}
.filter-list label:hover:before {
  background-color: #80A492;
}
.filter-list input[type='checkbox']:checked + label:before {
  background-color: #80A492;
  content: "\2713";
}
/* For sorting items */
.sort-list {
  display: none;
  background-color: white;
  color: black;
  position: absolute;
  top: 24px;
  z-index: 2;
  width: 100%;
  padding: 5px;
  margin: 1px 0 0 -5px;
  border-radius: 0 0 2px 2px;
  text-align: left;
  font-size: 0.9em;
  box-shadow: 1px 2px 7px;
}
.options-sort-items:hover .sort-list {
  display: block;
}
.options-sort-items input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.options-sort-items label {
  cursor: pointer;
}
.options-sort-items label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 0.85em;
  height: 0.85em;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.options-sort-items input[type="radio"]:checked + label:before {
  background-color: black;
}
/* Page quantity options*/
.page-quantity {
  font-family: "Nunito";
  font-size: 1em;
  border: none;
  outline: none;
}
.page-quantity:focus, .page-quantity:hover {
  outline: none;
  border: none;
}

/* CATALOG ITEMS */

.shop-items {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.item-container {
  width: 350px;
  height: 420px;
  margin: 15px;
  background-color: #FBFAF8;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}
.item-container .item-id {
  display: none;
}
.item-container .item-header {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}
.item-container .category-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 25px;
  background-color: rgb(75, 73, 67);
  cursor: pointer;
}
.category-icon:hover .category-text {
  display: block;
  width: 150px;
}
.category-text {
  display: none;
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 0.8em;
  margin-left: 8px;
  margin-top: 2px;
}
.item-container .category-icon > img {
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-left: 3px;
}
.item-container img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 0.2em;
}
.item-container .item-description {
  display: block;
  width: 100%;
  font-size: 0.9em;
  margin: 5px 5px;
  min-height: 60px;
  font-weight: 200;
}
.item-container .item-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-container .item-price {
  font-size: 1.5em;
}
.item-container input {
  width: 32px;
  height: 30px;
  font-family: "Nunito";
  font-size: 1em;
  border:none;
  text-align: center;
  outline: none;
}
.item-quantity-container {
  width: 100px;
  display: flex;
  justify-content: center;
}
/* The custom number input style */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.number-change {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  border: none;
  color: white;
  background-color: #8C715B;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.number-change:hover {
  background-color: rgb(110, 89, 71);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.number-change:focus {
  outline: none;
}
.numberDec {
  border-radius: 4px 0 0 4px;
}
.numberInc {
  border-radius: 0 4px 4px 0;
}

.btn-addToCart {
  font-size: 1em;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* CART STYLES */
.cart {
  border-radius: 4px;
  margin: 10px;
}
.cart-row {
  display:flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1.5px solid rgba(0,0,0,0.3);
}
.cart-header {
  text-align: center;
  font-weight: 700;
}
.cart-column {
  font-size: 0.9em;
  padding: 5px;
}
.cart-item-image {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  object-fit: cover;
}
.cart-item > span {
  padding: 15px 0;
  height: 50px;
}
.cart-id {
  width: 10%;
  font-size: 0.8em;
  text-align: center;
}
.cart-image {
  width: 17%;
  text-align: center;
}
.cart-item {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.cart-price {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-quantity {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-total {
  font-size: 1.2em;
  text-align: right;
}
.cart-quantity-box {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-quantity input[type="number"] {
  height: 20px;
  font-family: "Nunito";
  font-size: 1em;
  border:none;
  text-align: center;
  outline: none;
}
.number-change-cart {
  width: 20px;
  height: 20px;
  font-size: 1.2em;
  border: none;
  color: white;
  background-color: #8C715B;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.number-change-cart:hover {
  background-color: rgb(97, 78, 63);
}
.number-change-cart:focus {
  outline: none;
}
.cart-quantity .btn-remove-item {
  width: 60px;
  height: 23px;
  font-family:"Nunito";
  font-size: 0.8em;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2px;
}
.purchase-btn {
  width: 120px;
  font-family:"Nunito";
  font-size: 1em;
  text-align: center;
  display: block;
  margin: 0 auto;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
}
.purchase-btn a {
  text-decoration: none;
  color: white;
}

/* CHECKOUT */
.checkout {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  opacity: 0;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
}
.checkout-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-height: 400px;
  width: 100%;
  background-color: #FBFAF8;
  border-radius: 4px;
}
.checkout-header {
  color: #FBFAF8;
  font-weight: 700;
  font-size: 2em;
  cursor: default;
}
.close-checkout, .close-product-modal, .close-users-modal {
  color: #f2f2f2;
  opacity: 0.3;
  width: 35px;
  height: 35px;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  cursor: default;
  transition-duration: 0.5s;
}
.close-checkout:hover, .close-product-modal:hover, .close-users-modal:hover {
  opacity: 1;
}
.order-details {
  width: 100%;
  padding: 20px;
}
.order-details > span {
  margin-bottom: 10px;
}
.order-details input {
  width: 250px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}
.agreement-field {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
}
.agreement-field input[type='checkbox'] {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 8px;
}
.order-send-btn {
  width: 120px;
  font-family:"Nunito";
  font-size: 1.2em;
  text-align: center;
  display: block;
  margin: 0 auto;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
}

.formError {
  display:none;
  font-size: 0.7em;
  background-color: #C84741;
  padding: 10px;
  color: white;
  width: 280px;
  margin-bottom: 5px;
}

/* Order sent text */
.order-sent-text {
  text-align: center;
  padding: 15px;
}
.btn-toStore {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}
.btn-toStore a {
  text-decoration: none;
  color: white;
  font-family: "Nunito", sans-serif;
}

/* FOOTER */
.footer {
  margin-top: 15px;
  padding: 20px;
  text-align: center;
  border-top: rgba(0,0,0,0.5);
}
#demo {
  display: none;
}

/* CHECK ORDER PAGE */
.check-order {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-checkOrder {
  width: 80px;
  padding: 10px;
  font-size: 1em;
  border-radius: 2px;
  cursor: pointer;
}
.responseBox {
  width: 200px;
  margin: 10px 0;
  border: 1px solid black;
  padding: 15px;
  background-color: white;
  display: none;
}

/* Employee Login */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.employee-login {
  padding: 15px;
}
.employee-login input {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
}
.employee-login-btn {
  font-family: "Nunito", sans-serif;
  padding: 10px;
  font-size: 1em;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
}
.navigation-admin {
  background-color: #80A492;
  font-size: 0.8em;
}
.admin-dashboard-wrapper {
  width: 100%;
  max-width: 750px;
  background: #FBFAF8;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.admin-dashboard-item {
  width: 280px;
  height: 140px;
  border-radius: 6px;
  padding: 15px;
  color: #80A492;
  text-decoration: none;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.item-right {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.admin-dashboard-item > img {
  filter: invert();
}
.admin-dashboard-item:hover {
  box-shadow: 2px 2px 2px 2px #80A492;
}

/* ORDERS */
table {
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
  word-break:break-word;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: black;
  color: white;
  font-size: 0.8em;
}
td {
  background-color: white;
}
.table-small {
  font-size: 0.8em;
}

.orders-action {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}
.orders-action:focus {
  outline: none;
}
.orders-action:hover {
  background-color: grey;
}
.orders-action:disabled:hover {
  background-color: white;
}
.remove-button {
  width: 18px;
  height: 18px;
  color: white;
  border-radius: 50%;
  background-color: #C84741;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.remove-button:hover {
  background-color: rgb(150, 53, 48);
}
.actions-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.btn-edit-product, .btn-edit-user {
  font-size: 0.8em;
  padding: 5px;
}

/*PRODUCT EDITING*/
.products-modal, .users-modal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.8;
}

.product-form {
  width: 100%;
  max-width: 360px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  background-color: rgb(250,250,250);
  position: relative;
}
.form-header {
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}
.form-line {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.form-line > input, .form-line > select {
  font-size: 0.8em;
  font-family: "Nunito", sans-serif;
  margin-left: 5px;
  border: 1px solid grey;
}
.form-line > input[type="number"] {
  width: 60px;
  text-align: center;
}
.product-form-error, .user-form-error {
  font-size: 0.8em;
  text-align: center;
  color: #C84741;
  padding: 5px
}
.add-new-product, .add-new-user {
  width: 110px;
  height: 35px;
  color: white;
  text-align: center;
  padding: 8px;
  text-indent: 25px;
  font-size: 0.9em;
  margin-top: 10px;
  background-color: #73A1B0;
  border-radius: 25px;
  position: sticky;
  top: 50px;
  left: 20px;
  cursor: pointer;
  z-index: 50;
  opacity: 0.7;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.add-new-product:hover, .add-new-user:hover {
  opacity: 1;
}
.add-new-product::before, .add-new-user::before {
  content: '';
  background-image: url('icons/plus.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 5.5px 5.5px;
  width: 35px;
  height: 35px;
  background-color: #406672;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
textarea {
  resize: none;
  font-family: 'Nunito', sans-serif;
  border: 1px solid grey;
}
.err-container {
  width: 100%;
  border: #406672;
  background: #f2f2f2;
  text-align: center;
  position: sticky;
  top: 55px;
  left: 0;
  transition-duration: 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
}
.products-table-error, .orders-table-error {
  padding: 10px;
  width: 100%;

}

#product-edit-form {
  display: none;
}

.confirm-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}
.confirm-box {
  position: relative;
  background: #B0C6B0;
  padding: 15px;
}
.buttons-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#createPassword, #editPassword {
  display: hidden;
}